<div class="page-top-banner sourcing-page-banner">
  <img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/sourcing-page-banner.jpg?14367" alt="" />
  <div class="page-top-banner-text">
    <div class="page-top-banner-text-box">
      <div class="page-top-banner-text-box-left">
        <h1>Ethical Sourcing at BIG</h1>
         <div class="sourcing-message">Beauty Industry Group leads the industry with best-in-class <br/> supply chain and ethical sourcing.<br>
                           We encourage our suppliers to exceed the requirements set <br/> forth in our Supplier Code of 
                           Conduct to promote best <br/> practices and improve all business interactions.
         </div>
       </div>
    </div>
  </div>
</div>

<!--
<div class="sourcing-page-contant">
	<div class="container">
		<h3>Beauty Industry Group is committed to ethical sourcing. In addition to our Code of Conduct,<br /> which aims to protect against labor and human rights abuses, we work with<br /> suppliers to improve performance over time through auditing, remediation, and grant making.<br />Supply chains are complex, but BIG has determined to be an industry leader in terms of ethics and transparency.</h3>
	</div>
</div>
-->

<div class="container">
	<ul class="sourcing-page-box">
		<li>
			<h3>Labor Standards</h3>
            <p> Suppliers must treat workers with respect and <br /> dignity. Child and forced labor, discrimination,<br /> and harassment are prohibited. Working hours, <br /> wages, and benefits must meet local<br /> regulations.
		</li>
        <li>
			<h3>Ethical Hair Sourcing</h3>
          <p> We are committed to human rights in the <br />supply chain. Our policy prohibits coercion<br /> and exploitation. We require fair <br />compensation and respect for all participants. </p>
		</li>
        <li>
			<h3>Enviromental<br /> Regulations & Protection </h3>
			<p>Our suppliers must maintain the<br /> required environmental permits and<br /> properly handle product/materials to<br /> ensure safety and reduce waste.</p>
        </li>
		<li>
			<h3>Business Integrity</h3>
			<p>All suppliers must demonstrate<br /> the highest standards of ethics<br /> and conduct their business<br /> in compliance with local, national,<br /> and international laws.</p>
		</li>
        <li>
			<h3>Health & Safety</h3>
			<p>Suppliers are expected to provide<br /> a safe and healthy workplace<br /> environment for employees by<br /> implementing systems to detect<br /> and avoid possible hazards.</p>
		</li>
		
		<li>
			<h3>Inspections & Audits</h3>
			<p>BIG confirms compliance<br /> annually with the principles<br /> stated in our Supplier Code of Conduct<br /> in regard to audits of our suppliers<br /> and their own suppliers/subcontractors.</p>
		</li>
	</ul>
  
<div class="sourcing-page-contant">
	<div class="container">
      <h3>To further advance our commitment to human rights BIG is a signatory of the <br /> United Nations Global Compact of businesses protecting human rights. <a href="https://www.unglobalcompact.org/what-is-gc/participants/142282-Beauty-Industry-Group" target="_blank"><strong>View our commitment.</strong></a></h3><br />
      <h3><a href="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/BIG_Supplier_Code_of_Conduct.pdf?v=1613599544" target="_blank"><strong>BIG Supplier Code of Conduct</strong></a></h3>
	</div> 
</div>

  
</div>

