<div class="page-top-banner sourcing-page-banner">
  <img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/sourcing-page-banner.jpg?14367" alt="" />
  <div class="page-top-banner-text">
    <div class="page-top-banner-text-box">
      <div class="page-top-banner-text-box-left">
        <h1>Giving at BIG</h1>
        <div class="sourcing-message">BIG is in business to make the world a more beautiful place.<br /> 
          It does so through the sales of quality beauty products<br /> whose proceeds support girls’ 
                    empowerment and climate action.<br /> To formalize its mission, BIG has joined the 1%
                    pledge, <br />UN Global Compact, and aligned with the UN Sustainable Development Goals.
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="sourcing-page-contant">
	<div class="container">
		<h3>BIG is in business to make the world a more beautiful place.<br /> It does so through the sales of quality beauty products whose proceeds support girls’ empowerment and climate action.<br /> To formalize its mission, BIG has joined the 1% pledge, UN Global Compact, and aligned with the UN Sustainable Development Goals.</h3>
	</div>
</div>
-->

<div class="container">
	<ul class="sourcing-page-box">
		<li>
			<h3>1% Pledge</h3>
			<p>As part of the 1% Pledge, BIG gives 1% of its<br /> profit to vetted charities that support women,<br /> education, and climate solutions.</p>
		</li>
		<li>
			<h3>Sustainable Development Goals</h3>
			<p>BIG supports the sustainable development <br /> goals of gender equality, climate action,<br /> and universal education.</p>
		</li>
		<li>
			<h3>Volunteering</h3>
			<p>As part of the 1% pledge, BIG employees<br /> volunteer 20 hours of their working year (paid <br />time) through vetted nonprofit organizations.</p>
		</li>
		<li>
			<h3>Community Giving</h3>
			<p>One quarter of BIG’s giving is protected for brand, employee,<br /> and customer-awarded community grants that work towards responding to crises, local needs, and engaging with the places we call home.</p>
		</li>
		<li>
			<h3>Preserving the Planet</h3>
			<p>BIG is in business to make the world a more eautiful place.<br /> This means preserving our natural resources and ensuring that we are mitigating our contribution to climate change. We do this through reducing and offsetting.</p>
		</li>
        <li>
			<h3>Supporting Workers</h3>
			<p>Through our nonprofit partners we are launching grants this year to provide workers in our factories with access to basic services, scholarships, and additional resources.</p>
		</li>
    </ul>

</div>