<div class="page-top-banner sourcing-page-banner">
  <img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/sourcing-page-banner.jpg?14367" alt="" />
  <div class="page-top-banner-text">
    <div class="page-top-banner-text-box">
      <div class="page-top-banner-text-box-left">
        <h1><span>Ethical Sourcing at </span>BIG</h1>
      </div>
    </div>
  </div>
</div>

<div class="sourcing-page-contant">
	<div class="container">
		<h3>Beauty Industry Group leads the industry with best-in-class supply chain and ethical sourcing.<br /> We encourage our suppliers to exceed
the requirements set forth in our <br /> Supplier Code of Conduct to promote best practices and improve all business interactions.</h3>
	</div>
</div>

<div class="container-fluid">
	<ul class="sourcing-page-box">
		<li>
			<h3>LABOR STANDARDS</h3>
			<p>All employers are expected to treat<br /> their workers with respect and<br /> dignity. Discrimination of any kind<br /> is strictly prohibited.</p>
		</li>
		<li>
			<h3>HEALTH & SAFETY</h3>
			<p>Suppliers are expected to provide<br /> a safe and healthy workplace<br /> environment for employees by<br /> implementing systems to detect<br /> and avoid possible hazards.</p>
		</li>
		<li>
			<h3>ENVIRONMENTAL<br /> REGULATIONS & PROTECTION </h3>
			<p>Our suppliers must maintain the<br /> required environmental permits and<br /> properly handle product/materials to<br /> ensure safety and reduce waste.</p>
		</li>
		<li>
			<h3>BUSINESS INTEGRITY</h3>
			<p>All suppliers must demonstrate<br /> the highest standards of ethics<br /> and conduct their business<br /> in compliance with local, national,<br /> and international laws.</p>
		</li>
		<li>
			<h3>ETHICAL HAIR SOURCING</h3>
			<p>We require all human hair<br /> procurement to be handled in a<br /> professional and socially responsible<br /> way that demonstrates the utmost <br />respect toward human hair donors.</p>
		</li>
		<li>
			<h3>INSPECTIONS & AUDITS</h3>
			<p>BIG confirms compliance<br /> annually with the principles<br /> stated in our Supplier Code of Conduct<br /> in regard to audits of our suppliers<br /> and their own suppliers/subcontractors.</p>
		</li>
	</ul>

</div>