	<div class="big-join-the-team-banner">
		<div class="big-join-the-team-banner-img">
			<img class="desktop" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/join-the-team.jpg?v=1614901099" alt="" />
			<img class="ipad" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/Join-The_Team.png?v=1614734031" alt="">
          	<img class="mobile"  src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/join-the-team-mobile-img.jpg?v=1615267696" alt="" />
		</div>

		<div class="big-join-banner-overlay">
			<div class="big-join-banner-overlay-left">
				<div class="big-join-banner-perks-details">
					<div class="big-perks-icon-detail">
						<h2>Come Join The Team!</h2>
						<p>We believe first and foremost in people. <br />People are our business; whether you’re<br /> looking to share your passions,<br /> achieve your goals, or make a BIG impact,<br /> your place is here! </p>
						<p>We are excited to meet you.</p>
						<div class="current-opening">
							<a target="_blank"  href="https://recruiting.paylocity.com/recruiting/jobs/All/a21d4cfb-2fd3-47a4-aff7-4e738d036847/Beauty-Industry-Group">Current Openings</a>
						</div>
					</div>
				</div>
                
				<div class="big-join-banner-perks-icons">
					<h2>Company Perks</h2>
					<ul>
						<!-- <li class="active" data-tab="perks-briefcase">
							<img class="desktop" src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-briefcase-icon.png?v=1570857359" alt="" /> 
						</li>-->
						<li class="active" data-tab="perks-family">
							<img class="desktop" src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-family-icon.png?14523" alt="" />
						</li>
						<li data-tab="perks-pizza">
							<img class="desktop" src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-pizza-icon.png?14523" alt="" />
						</li>
						<li data-tab="perks-growth">
							<img class="desktop" src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-growth-chart-icon.png?14523" alt="" />
						</li>
						<li data-tab="perks-team">
							<img class="desktop" src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-team-icon.png?14523" alt="" />
						</li>
						<li data-tab="perks-thumbs">
							<img class="desktop" src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-thumbs-up-icon.png?14523" alt="" />
						</li>
						<li data-tab="perks-charity">
							<img class="desktop" src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-charity-globe-icon.png?14523" alt="" />
						</li>
					</ul>
				</div>
			</div>

			<div class="big-join-banner-overlay-right">
				<!-- <div class="big-perks-icon-detail-right" id="perks-briefcase" style="display: block;">
					<h2>Title</h2>
					<p>Description</p>
				</div>
				-->
				<div class="big-perks-icon-detail-right" id="perks-family" style="display: block;">
					<h2>Family</h2>
					<p>Paid parental leave and flex time allow <br />you to be where you need to be.</p>
				</div>
				<div class="big-perks-icon-detail-right" id="perks-pizza">
					<h2>Food</h2>
					<p>Seasonal snacks, free lunch Friday, <br />and birthday celebrations.</p>
				</div>
				<div class="big-perks-icon-detail-right" id="perks-growth">
					<h2>Growth</h2>
					<p>Ranked one of the fastest growing companies in Utah, <br />our growth fuels your growth.</p>
				</div>
				<div class="big-perks-icon-detail-right" id="perks-team">
					<h2>Team</h2>
					<p>We take our work seriously, <br />but not ourselves.</p>
				</div>
				<div class="big-perks-icon-detail-right" id="perks-thumbs">
					<h2>Benefits</h2>
					<p>Retirement plans, paid holidays, <br />competitive PTO, and subsidized health benefits.</p>
				</div>
				<div class="big-perks-icon-detail-right" id="perks-charity">
					<h2>Charity</h2>
					<p>We believe in giving back <br />with our BIGger Picture projects.</p>
				</div>

			</div>

		</div> 
	</div>
	
	<div class="mobile-black-slider">
          <div class="big-join-banner-perks-icons-mobile">
              <h2 class="company-perks">Company Perks</h2>
              <div class="owl-carousel owl-theme">
              <!--	<div class="big-perk-detail">
              		<img  src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-briefcase-icon.png?v=1570857359" alt="" />
              		<div>
              			<h2>Title</h2>
						<p>Description</p>
              		</div>
              	</div> -->
              	<div class="big-perk-detail">
              		<img  src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-family-icon.png?14523" alt="" />
              		<div>
              			<h2>Family</h2>
						<p>Paid parental leave and flex time allow <br />you to be where you need to be.</p>
              		</div>
              	</div>
              	<div class="big-perk-detail">
              		<img  src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-pizza-icon.png?14523" alt="" />
              		<div>
              			<h2>Food</h2>
						<p>Seasonal snacks, free lunch Friday, <br />and birthday celebrations.</p>
              		</div>
              	</div>
              	<div class="big-perk-detail">
              		<img  src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-growth-chart-icon.png?14523" alt="" />
              		<div>
              			<h2>Growth</h2>
						<p>Ranked one of the fastest growing companies in Utah, <br />our growth fuels your growth.</p>
              		</div>
              	</div>
              	<div class="big-perk-detail">
              		<img  src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-team-icon.png?14523" alt="" />
              		<div>
              			<h2>Team</h2>
						<p>We take our work seriously, <br />but not ourselves.</p>
              		</div>
              	</div>
              	<div class="big-perk-detail">
              		<img  src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-thumbs-up-icon.png?14523" alt="" />
              		<div>
              			<h2>Benefits</h2>
						<p>Retirement plans, paid holidays, <br />competitive PTO, and subsidized health benefits.</p>
              		</div>
              	</div>
              	<div class="big-perk-detail">
              		<img  src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/join-the-team-charity-globe-icon.png?14523" alt="" />
              		<div>
              			<h2>Charity</h2>
						<p>We believe in giving back <br />with our BIGger Picture projects.</p>
              		</div>
              	</div>
              </div>
       </div>
    </div> 

	{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="{{ 'jquery.popupoverlay.js' | asset_url }}"></script>
	<script src="{{ 'owl.carousel.min.js' | asset_url }}"></script>

	<script>
        $(document).ready(function($) {
          $('.owl-carousel').owlCarousel({
            items: 1,
            nav:true,
            dots:false,
            loop: true
         });
        }); 
   </script>	
		