<!-- About Page -->
<div class="big-about-slider">
	<div>
		<img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/About-Us-desktop.png?v=1614889598" alt="" />
	</div>
  <!--
	<div>
		<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-about-us-slider-img2.jpg?14374" alt="" />
	</div>
	<div>
		<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-about-us-slider-img3.jpg?14374" alt="" />
	</div>
	<div>
		<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-about-us-slider-img4.jpg?14374" alt="" />
	</div>
	<div>
		<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-about-us-slider-img5.jpg?14374" alt="" />
	</div>
-->
</div>

<div class="big-true-beauty">
	<div class="container">
		<h2>True Beauty: The Art of Self-Expression</h2>
		<p>We believe true beauty is about being you and embracing who you are. That’s why we approach <br />the beauty industry in a BIG<sup>&reg;</sup> way with world leading brands and products created to enhance <br />your natural beauty, inspire your creativity, and bolster your confidence.</p>
	</div>
</div>
<div class="big-about-icon-slider-main">
   
       
    
	<div class="big-about-icon-slider">
      
		<div class="big-about-icon-slider-box slide-3">
          <!-- <div class="overlay-text">We approach every situation with authenticity and integrity.</div> -->
			<div class="image">
				<span><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/optimistic_problem_solver.png?v=1615237718" alt="" /></span>
              	<!-- <span><img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-about-icon-slider-img3.png?14380" alt="" /></span>-->

			</div>
			<div class="name">Optimistic Problem Solvers</div>
		</div>

		<div class="big-about-icon-slider-box slide-4">
          <!-- <div class="overlay-text">We approach every situation with authenticity and integrity.</div> -->
			<div class="image">
				<span><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/growth_mind_set.png?v=1615238073" alt="" /></span>
			</div>
			<div class="name">Growth Mindset</div>
		</div>

		<div class="big-about-icon-slider-box slide-5">
           <!-- <div class="overlay-text">We approach every situation with authenticity and integrity.</div> -->
			<div class="image">
              	<span><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/get_it_done.png?v=1615238073" alt="" /></span>
				<!-- <span><img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-about-icon-slider-img5.png?14380" alt="" /></span> -->
			</div>
			<div class="name">Get it Done</div>
		</div>

		<div class="big-about-icon-slider-box slide-6">
           <!-- <div class="overlay-text">We approach every situation with authenticity and integrity.</div> -->
			<div class="image">
				<span><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/recognize_the_value_of_people.png?v=1615238080" alt="" /></span>
			</div>
			<div class="name">Recognize the Value of People</div>
		</div>

	</div>
</div>

<div class="big-the-idea">
  <h2>The BIG<sup>&reg;</sup> Idea</h2>
	<p>Our story begins with one man, a big idea, and his wife’s desire for long, beautiful hair. From there Logan Woolley <br />
		partnered with Derrick Porter to build Beauty Industry Group<sup>&reg;</sup> from the ground up. Now as leaders in the hair extension and lash enhancement
	business, Beauty Industry Group<sup>&reg;</sup>  embraces BIG<sup>&reg;</sup>  ideas to increase opportunities and deliver true beauty to the world.</p>


	<p><a href="#eco-popup" class="read-more eco-popup_open">READ MORE ABOUT BIG’S FOUNDERS</a></p>



<div class="big-the-idea-eco-popup" id="eco-popup">
	<div class="big-eco-popup">

		<button class="popup_close" title="Close" aria-label="Close"><span aria-hidden="true">×</span></button>

		<div class="big-eco-popup-container">
			<h2>BIG CEO - No Pun Intended</h2>

			<p>Derrick Porter, CEO, was first introduced to Beauty Industry Group (BIG) in 2006 when meeting its founder, 
				Logan Woolley. Logan was a customer of Porter Brown Distribution, a 3rd party logistics company that Derrick had 
				started with his father several years earlier. Derrick quickly realized that for him, the beauty space promised a new 
				and exciting frontier where business was more easily scalable and he could focus on building a brand rather than 
				running a service business. And so the decision was made to leave the world of warehousing and embark into the 
				unknown. Porter and Woolley would spend the next ten years together growing BIG into an impressive company, 
			housing many successful beauty brands, and employing hundreds of people.</p>

			<p>In the early years and while seeking to grow BIG, the two tried everything from selling used cars, to importing dog 
				bowls, electric scooters, and fine art, to starting businesses in the jewelry and construction work-gear space. 
				Ultimately however, beauty won out and the two businessmen began to focus solely on professional beauty products.
				“As a kid, I never dreamed I’d end up in the beauty industry,” admits Derrick, as he reflects on his journey with BIG. 
				“Beauty products such as human hair, eyelashes, nail products...these were products I had never thought twice about 
			until I saw Logan’s business. Thankfully he made room for me and now I can’t imagine life without it.”</p>

			<p>Over the last ten years, Porter has spent countless hours growing the company, sourcing products, developing 
				overseas partnerships, and building out the BIG team across the country. The journey has resulted in more than 1,000 
				nights being spent in more than thirty countries around the globe and today, more than 100,000 people using BIG 
			products every year.</p>

			<p>Only someone who devoted more than a decade running what started as a small, niche company could appreciate 
				the growth as much as Derrick. He recalls fondly the early days when hours would go by without the phone ringing, 
				spending nights in the dingiest of hotels (even once in the back of a truck just south of Las Vegas), being robbed in 
				Italy, negotiating deals in South America using Google Translate as the intermediary, and even witnessing first-handed 
			an arms deal in El Salvador.</p>

			<p>When asked what has brought the most satisfaction he quickly responded “Our team”. He further elaborated: 
				“Business demands that processes improve. But, if administered properly, it also allows people to improve, to grow, 
				to become better, not only in their professional life but also in their personal life. Some of the greatest satisfaction I 
			have felt is watching our team members do just that”.</p>

			<p>Today, BIG owns multiple brands in the professional hair extension space, as well as companies in the cosmetic and 
				e-commerce world. Tomorrow? Derrick’s intention is to be exactly that, only bigger and stronger. “The first ten years 
				were spent building the infrastructure, the foundation...the next ten years I hope to spend going vertical, growing via 
				acquisition, investing in our people and businesses, and continuing to create a premier place to work and be a part 
			of in the professional beauty industry” says Porter.</p>

			<p style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Image_from_iOS2.jpg?v=1582308315"></p>	

		</div>
	</div>
</div>


</div>

<div class="big-our-leaders">
	<h2>Our Leaders</h2>
	<div class="leaders-list leaders-list-mobile">
      
      	<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-17.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
					</p>
					<h3>DERRICK PORTER</h3>
					<p>CEO</p>
				</div>
			</div>
		</div>

      	<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-18.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
					</p>
					<h3>DARIN JACOBS</h3>
					<p>CFO</p>
				</div>
			</div>
		</div>

      	<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-8.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
					</p>
					<h3>TONY TIBBITTS</h3>
					<p>COO</p>
				</div>
			</div>
		</div>

      	<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-2.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
					</p>
					<h3>NATE KERR</h3>
					<p>VP of Operations</p>
				</div>
			</div>
		</div>

      	<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-6.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
					</p>
					<h3>TARA HAYNIE</h3>
					<p>Group VP - DTC Brands</p>
				</div>
			</div>
		</div>
		

      	<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-4.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
					</p>
					<h3>BRANDON HUTCHINS</h3>
					<p>Group VP - Professional Brands</p>
				</div>
			</div>
		</div>
      
      
<!-- 		<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img1.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>DERRICK PORTER</h3>
					<p>BIG CEO</p>
				</div>
			</div>
		</div> -->
      
		<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img3.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
					</p>
					<h3>RICHARD SCHOONOVER</h3>
					<p>Chief Strategy Officer, Founder & President of International Designs Corporation</p>
				</div>
			</div>
		</div>
      
		<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img2.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
					</p>
					<h3>LOGAN WOOLLEY</h3>
					<p>BIG Founder</p>
				</div>
			</div>
		</div>

		<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img4.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
					</p>
					<h3>MICHAELINE DEJORIA HEYDARI</h3>
					<p>CEO of John Paul Mitchell Systems</p>
				</div>
			</div>
		</div>
		<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img5.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
					</p>
					<h3>DREW JOHNSON</h3>
					<p>Member, Board of Directors, Co-Founder & Managing Partner at Gauge Capital </p>
				</div>
			</div>
		</div>
		<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img6.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
						
					</p>
					<h3>JOHN GOLLIHER</h3>
					<p>Independent Member, Board of Directors, retired Director at Sally Beauty Holding Inc. & President of Beauty Systems Group.</p>
				</div>
			</div>
		</div>
		<div class="leaders-list-item"  >
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/shelley-goodstein.jpg?v=1596889706" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
						Shelley Goodstein is the Queen and Founder of Hidden Crown Hair Extensions, mother of 3, model, author, and entrepreneur. Shelley has taken her experience in the modeling and beauty industry and infused her knowledge into Hidden Crown, providing customers with high-quality hair extensions that bring out confidence in others without damaging their hair.
					</p>
					<h3>Shelley Goodstein</h3>
					<p>Hidden Crown</p>
				</div>
			</div>
		</div>
		<div class="leaders-list-item" >
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Alexandra-Cristin.jpg?v=1596889706" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
						Alexandra Cristin is no amateur to the beauty business. She built her hair empire after a career as a plus-size model and television personality. She noticed a lack of available and affordable products in the industry and sought to shake up the world of hair extensions with her famous seamless extensions. After finding much success, Alexandra stays connected to the community through her non-profit mentorship program Glam Girls and continues to make a difference in the lives of her clients proving that confidence is truly seamless!
					</p>
					<h3>Alexandra Cristin</h3>
					<p>Glam Seamless</p>
				</div>
			</div>
		</div>
		<div class="leaders-list-item" >
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Penelope-Chesire.jpg?v=1596889706" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
						Penelope Chesire, Managing Director at Beauty Works UK, runs the leading luxury hair extension brand in the UK with style and charisma. As a business woman and entrepreneur with over ten years in the industry, Penelope has effectively led Beauty Works to become a multi award-winning brand of luxury hair hosted in over 2500 salons and retail shops throughout the United Kingdom. Beauty, style, and quality make Beauty Works hair extensions in high demand!
					</p>
					<h3>Penelope Chesire</h3>
					<p>Beauty Works UK</p>
				</div>
			</div>
		</div>
		
		<!--<div class="leaders-list-item">
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Lulu-Liang.jpg?v=1597383386" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<p class="short-bio-desc">
						At only 26 years old, Lulu is a true example of hard work, dedication and determination. She started at Luxy as an Operations Assistant looking to make a greater impact and within two and a half years, she worked her way up to CEO. Now, she does everything she can to grow the business while keeping a great team and culture. Although making the move from a stable and safe corporate job to a small start-up was never part of her plan, Lulu considers this the best decision she’s made for her career. 
					</p>
					<h3>Lulu Liang</h3>
					<p>Luxy Hair</p>
				</div>
			</div>
		</div>-->
	</div>

	<div class="leaders-list leaders-list-desktop">
      
      
      	<div class="leaders-list-item"> <!-- data-id="derrick-porter"-->
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-17.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>DERRICK PORTER</h3>
					<p>CEO</p>
				</div>
			</div>
		</div>

      	<div class="leaders-list-item"> <!-- data-id="darin-jacobs"-->
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-18.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>DARIN JACOBS</h3>
					<p>CFO</p>
				</div>
			</div>
		</div>

      	<div class="leaders-list-item"> <!--data-id="tony-tibbitts"-->
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-8.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>TONY TIBBITTS</h3>
					<p>COO</p>
				</div>
			</div>
		</div>

      	<div class="leaders-list-item"> <!--data-id="nate-kerr" -->
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-2.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>NATE KERR</h3>
					<p>VP of Operations</p>
				</div>
			</div>
		</div>

      	<div class="leaders-list-item"> <!-- data-id="tara-haynie" -->
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-6.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>TARA HAYNIE</h3>
					<p>Group VP - DTC Brands</p>
				</div>
			</div>
		</div>
		
      <!--
		<div class="bio-details clr"> <!-- id="bio-derrick-porter" - ->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-17.jpg?29225" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Derrick Porter</h2>
              	<h3>CEO</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur Lorem  ipsu last
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui ex ea commodo consequat.	
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
  -->
      
      <!--
		<div class="bio-details clr"> <!-- id="bio-darin-jacobs" - ->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-18.jpg?29225" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Darin Jacobs</h2>
              	<h3>CFO</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur Lorem  ipsu last
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui ex ea commodo consequat.	
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
  
  -->
		<div class="bio-details clr"><!-- id="bio-tony-tibbitts" -->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-8.jpg?29225" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Tony Tibbitts</h2>
              	<h3>COO</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur Lorem  ipsu last
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui ex ea commodo consequat.	
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
        <div class="bio-details clr"> <!-- id="bio-nate-kerr" -->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-2.jpg?29225" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Nate Kerr</h2>
              	<h3>VP of Operations</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur Lorem  ipsu last
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui ex ea commodo consequat.	
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
      
		<!-- <div class="bio-details clr"> <!-- id="bio-tara-haynie" - ->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-6.jpg?29225" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Tara Haynie</h2>
              	<h3>Group VP - DTC Brands</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur Lorem  ipsu last
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui ex ea commodo consequat.	
				</p>
              	<!-- <div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div> - ->
			</div>
        </div>
  -->
      	<div class="leaders-list-item"> <!-- data-id="brandon-hutchins"-->
			<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-4.jpg?29225" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>BRANDON HUTCHINS</h3>
					<p>Group VP - Professional Brands</p>
				</div>
			</div>
		</div>
      
		<div class="leaders-list-item"> <!-- data-id="richard-schoonover"-->
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img3.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>RICHARD SCHOONOVER</h3>
					<p>Chief Strategy Officer, Founder & President of International Designs Corporation</p>
				</div>
			</div>
		</div>
      
		<div class="leaders-list-item"> <!-- data-id="logan-wooley"-->
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img2.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>LOGAN WOOLLEY</h3>
					<p>BIG Founder</p>
				</div>
			</div>
		</div>

		<div class="leaders-list-item"> <!-- data-id="michaeline-dejoria-heydari" -->
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img4.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>MICHAELINE DEJORIA HEYDARI</h3>
					<p>CEO of John Paul Mitchell Systems</p>
				</div>
			</div>
		</div>
		<div class="leaders-list-item"> <!-- data-id="drew-johnson"-->
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img5.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>DREW JOHNSON</h3>
					<p>Member, Board of Directors, Co-Founder & Managing Partner at Gauge Capital </p>
				</div>
			</div>
		</div>
		
		<div class="bio-details clr"> <!--id="bio-brandon-hutchins"-->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/2504/4102/files/BIG_LeadershipTeamHeadshots-4.jpg?29225" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Brandon Hutchins</h2>
              	<h3>Group VP - Professional Brands</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur Lorem  ipsu last
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui ex ea commodo consequat.	
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
		<div class="bio-details clr"> <!-- id="bio-richard-schoonover" -->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img3.jpg?14390" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Richard Schoonover</h2>
              	<h3>Chief Strategy Officer, Founder & President of International Designs Corporation</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur Lorem  ipsu last
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui ex ea commodo consequat.	
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
		<div class="bio-details clr"> <!-- id="bio-logan-wooley" -->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img2.jpg?14390" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Logan Wooley</h2>
              	<h3>BIG Founder</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur Lorem  ipsu last
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui ex ea commodo consequat.	
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
		<div class="bio-details clr"> <!-- id="bio-michaeline-dejoria-heydari" -->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img4.jpg?14390" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Michaeline Dejoria Heydari</h2>
              	<h3>CEO of John Paul Mitchell Systems</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur Lorem  ipsu last
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui ex ea commodo consequat.	
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
		<div class="bio-details clr"> <!-- id="bio-drew-johnson"-->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img5.jpg?14390" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Drew Johnson</h2>
              	<h3>Member, Board of Directors, Co-Founder & Managing Partner at Gauge Capital</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur Lorem  ipsu last
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui ex ea commodo consequat.	
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
		
		<div class="leaders-list-item"> <!-- data-id="john-golliher"-->
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img6.jpg?14390" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>JOHN GOLLIHER</h3>
					<p>Independent Member, Board of Directors, retired Director at Sally Beauty Holding Inc. & President of Beauty Systems Group.</p>
				</div>
			</div>
		</div>
		<div class="leaders-list-item"  data-id="shelley-goodstein">
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/shelley-goodstein.jpg?v=1596889706" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>Shelley Goodstein</h3>
					<p>Hidden Crown</p>
				</div>
			</div>
		</div>
		<div class="leaders-list-item" data-id="alexandra-cristin" >
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Alexandra-Cristin.jpg?v=1596889706" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>Alexandra Cristin</h3>
					<p>Glam Seamless</p>
				</div>
			</div>
		</div>
		<div class="leaders-list-item"  data-id="penelope-chesire" >
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Penelope-Chesire.jpg?v=1596889706" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>Penelope Chesire</h3>
					<p>Beauty Works UK</p>
				</div>
			</div>
		</div>
		
		<!--<div class="leaders-list-item" data-id="lulu-liang" > 
			<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Lulu-Liang.jpg?v=1597383386" alt="" />
			<div class="overlay-bg">
				<div class="overlay-bg-box">
					<h3>Lulu Liang</h3>
					<p>Luxy Hair</p>
				</div>
			</div>
		</div>-->
		
		<div class="bio-details clr"> <!-- id="bio-john-golliher" -->
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/big-leaders-img6.jpg?14390" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>John Golliher</h2>
              	<h3></h3>
				<p>
					Independent Member, Board of Directors, retired Director at Sally Beauty Holding Inc. & President of Beauty Systems Group.
					<br><br>
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
		<div class="bio-details clr" id="bio-shelley-goodstein" >
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/shelley-goodstein.jpg?v=1596889706" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Shelley Goodstein</h2>
              	<h3>Hidden Crown</h3>
				<p>
					Shelley Goodstein is the Queen and Founder of Hidden Crown Hair Extensions, mother of 3, model, author, and entrepreneur. Shelley has taken her experience in the modeling and beauty industry and infused her knowledge into Hidden Crown, providing customers with high-quality hair extensions that bring out confidence in others without damaging their hair. For more on this Boss Beauty Queen and Hidden Crown Extensions, click here:
					<br><br>
					Joined BIG October 2018<br>
					<a href="https://hiddencrownhair.com/blogs/news/ultimate-queen-shelley-goodstein">https://hiddencrownhair.com/blogs/news/ultimate-queen-shelley-goodstein</a>
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
		<div class="bio-details clr" id="bio-alexandra-cristin">
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Alexandra-Cristin.jpg?v=1596889706" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Alexandra Cristin</h2>
              	<h3>Glam Seamless</h3>
				<p>
					Alexandra Cristin is no amateur to the beauty business. She built her hair empire after a career as a plus-size model and television personality. She noticed a lack of available and affordable products in the industry and sought to shake up the world of hair extensions with her famous seamless extensions. After finding much success, Alexandra stays connected to the community through her non-profit mentorship program Glam Girls and continues to make a difference in the lives of her clients proving that confidence is truly seamless!
					<br><br>
					Joined BIG February 2019<br>
					<a href="https://www.glamseamless.com/pages/about-glam-seamless">https://www.glamseamless.com/pages/about-glam-seamless</a>
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>
		<div class="bio-details clr" id="bio-penelope-chesire" >
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Penelope-Chesire.jpg?v=1596889706" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Penelope Chesire</h2>
              	<h3>Beauty Works UK</h3>
				<p>
					Penelope Chesire, Managing Director at Beauty Works UK, runs the leading luxury hair extension brand in the UK with style and charisma. As a business woman and entrepreneur with over ten years in the industry, Penelope has effectively led Beauty Works to become a multi award-winning brand of luxury hair hosted in over 2500 salons and retail shops throughout the United Kingdom. Beauty, style, and quality make Beauty Works hair extensions in high demand!
					<br><br>
					Joined BIG December 2019<br>
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>

		<!--<div class="bio-details clr" id="bio-lulu-liang" >
			<div class="bio-image">
				<img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Lulu-Liang.jpg?v=1597383386" alt="" />
			</div>
			<div class="bio-desc">
              	<h2>Lulu Liang</h2>
              	<h3>Luxy Hair</h3>
				<p>
					At only 26 years old, Lulu is a true example of hard work, dedication and determination. She started at Luxy as an Operations Assistant looking to make a greater impact and within two and a half years, she worked her way up to CEO. Now, she does everything she can to grow the business while keeping a great team and culture. Although making the move from a stable and safe corporate job to a small start-up was never part of her plan, Lulu considers this the best decision she’s made for her career. 
				</p>
              	<div class="show-less">
                  <a href="javascript:;" class="show-less-link">Show Less</a>
          		</div>
			</div>
        </div>-->
	</div>

</div>


<div class="big-impact">
	<div class="container-fluid">
		<h2>Making a BIG<sup>&reg;</sup> Impact</h2>
		<ul>
			<li><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/Relay-For-Life.png?v=1614731021" alt="" /></li>
			<li><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/Project-Zero.png?v=1614731021" alt="" /></li>
			<li><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/Heart-for-India.png?v=1614731021" alt="" /></li>
			<li><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/Nami.png?v=1614731021" alt="" /></li>
			<li><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/ywca.png?v=1614731021" alt="" /></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/Animal-Adoption.png?v=1614731021" alt="" /></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/Road-Home.png?v=1614731021" alt="" /></li>
		</ul>

	</div>
</div>


<div class="big-expansion-opportunities">
	<h2>Expansion Opportunities</h2>
	<p>Interested in working with us?</p>
	<p>BIG<sup>&reg;</sup> owns and operates multiple businesses within the professional beauty industry. It’s products are sold and distributed <br />
	across the world, including North America, South America, Australia, and Europe.</p>

	<p>Here at BIG<sup>&reg;</sup>, we’re always looking for new business opportunities, including acquiring additional brands or product lines <br />
		within the beauty industry. We will partner with existing teams to combine their expertise <br />
	and skill sets with financial capital to take their brand to the next level.</p>

  <p>Contact us at <a href="mailto:growth@beautyindustrygroup.com"><span class="bold_link"> growth@beautyindustrygroup.com </span> </a> for more details.</p>

</div>



<script src="{{ 'slick.js' | asset_url }}" defer="defer"></script>


<script type="text/javascript">
	$(document).on('ready', function() {

		$(".big-about-slider").slick({ 
			infinite: true,
			dots: true,
			arrows:false,
          autoplay: true,
          autoplaySpeed: 2000,
		});

		$(".big-about-icon-slider").slick({ 

			dots: false,
			arrows:false,
			slidesToShow: 6,
			mobileFirst: false,
			slidesToScroll: 1,
			responsive: [
			{
				breakpoint: 1199,
				settings: {
					focusOnSelect: true,
					centerMode: true,
					slidesToShow: 4,
                  autoplay: true,
                  autoplaySpeed: 2000,
				}
			},
			{
				breakpoint: 767,
				settings: {
					focusOnSelect: true,
					centerMode: true,
					slidesToShow: 3,
                  autoplay: true,
                  autoplaySpeed: 2000,
				}
			}
			]
		});

		if ($(window).width() < 768) {  
			$(".leaders-list-mobile").slick({ 
				infinite: false,
				dots: false,
				arrows:true,
              	swipe:true,
              autoplay: true,
              autoplaySpeed: 2000,
			});

			$(".slick-slide").click(function(){
				$(".leaders-list .slick-arrow").css("display", "none");
			}); 
		}

	  if ($(window).width() >= 768) 
	  {	
		  $('.leaders-list-desktop .leaders-list-item').click(function(){
		  	id= $(this).data('id');
		  	$('.leaders-list-item').css('opacity',1).css('pointer-events','inherit');
			$('.bio-details').hide();
			
		  	if(id!=undefined)
		  	{
			  	$(".bio-details#bio-"+id).slideDown('slow');
			  	$(this).css('opacity',0).css('pointer-events','none');
			}
		  });
		  
	      $('.show-less-link').click(function(){
	        $(this).closest('.bio-details').slideUp();
	        $('.leaders-list-item').css('opacity',1).css('pointer-events','inherit');
	      });
		}


	});


</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<script src="{{ 'jquery.popupoverlay.js' | asset_url }}"></script>
<script type="text/javascript">

	var jq331 = $.noConflict();

	jq331(document).ready(function () {

		jq331('#eco-popup').popup({
			transition: 'all 0.3s',
			closebutton: true
		});

	});
</script>

