<div class="wrapper"> 
  <div class="img-area container-fluid">

    <div class="single-img">
      <div> <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-1.png?v=1614796818" alt=""> </div>
      <div class="overlay_image">
        <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/babe-lash-logo.png?v=1614802007" usemap="#image-map-1">
        <map name="image-map-1">
              <area target="_blank" alt="Website" title="Website" href="https://babethings.com/" coords="170,203,14" shape="circle">
              <area target="_blank" alt="Instagram" title="Instagram" href="https://www.instagram.com/babe_hair/" coords="192,190,217,215" shape="rect">
              <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/pages/Babe-Things/175640345798364" coords="236,202,13" shape="circle">
          </map>
      </div>
     </div>
    
    <div class="single-img">
      <div> <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Beauty_Works.jpg?v=1616098418" alt=""> </div>
      <div class="overlay_image">
        <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/beauty-works-logo.png?v=1614802007" usemap="#image-map-2">

        <map name="image-map-2">
            <area target="_blank" alt="Website" title="Website" href="https://beautyworksonline.com/" coords="279,215,13" shape="circle">
            <area target="_blank" alt="Instagram" title="Instagram" href="https://www.instagram.com/beauty_worksonline/" coords="301,202,325,228" shape="rect">
            <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/BeautyWorksOnline/" coords="345,215,13" shape="circle">
        </map>
      </div>
     </div>
      
    <div class="single-img">
      <div> <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-3.png?v=1614796818" alt=""></div>
      <div class="overlay_image">
        <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/donna-bella-hair-logo.png?v=1614802007" usemap="#image-map-3">
        <map name="image-map-3">
            <area target="_blank" alt="Website" title="Website" href="https://donnabellahair.com/" coords="278,177,14" shape="circle">
            <area target="_blank" alt="Instagram" title="Instagram" href="https://www.instagram.com/donnabellahair/" coords="299,163,325,189" shape="rect">
            <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/dbhairextension" coords="344,176,14" shape="circle">
        </map>
      </div>
    </div>
      
    <div class="single-img">
      <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-4.png?v=1614796818" alt="">
       <div class="overlay_image">
       <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/glam-seamless-logo.png?v=1614802007" usemap="#image-map-4">
        <map name="image-map-4">
            <area target="_blank" alt="Website" title="Website" href="https://www.glamseamless.com/" coords="214,175,14" shape="circle">
            <area target="_blank" alt="Instagram" title="Instagram" href="https://www.instagram.com/glamseamless/" coords="236,163,260,188" shape="rect">
            <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/glamseamless" coords="280,176,14" shape="circle">
        </map>
      </div>
      </div>
      
    <div class="single-img">
      <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-5.png?v=1614796818" alt="">
       <div class="overlay_image">
          <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/hairtalk-logo.png?v=1614802007" usemap="#image-map-5">
          <map name="image-map-5">
              <area target="_blank" alt="Website" title="Website" href="https://hairtalkusa.com/" coords="209,165,14" shape="circle">
              <area target="_blank" alt="Instagram" title="Instagram" href="https://www.instagram.com/hairtalkusa/" coords="231,153,255,178" shape="rect">
              <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/hairtalkusa" coords="274,165,13" shape="circle">
          </map>
      </div>
      </div>
      
    <div class="single-img">
      <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-6.png?v=1614796818" alt="">
        <div class="overlay_image">
          <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/halocouture-logo.png?v=1614802007" usemap="#image-map-6">

          <map name="image-map-6">
              <area target="_blank" alt="Website" title="Website" href="https://halocouture.com/" coords="253,121,14" shape="circle">
              <area target="_blank" alt="Instagram" title="Instagram" href="https://www.instagram.com/halocoutureextensions/" coords="272,109,298,133" shape="rect">
              <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/HaloCoutureExtensions/" coords="317,121,14" shape="circle">
          </map>
      </div>
      </div>
      
    <div class="single-img">
      <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-7.png?v=1614796818" alt="">
        <div class="overlay_image">
          <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/hiddencrown-logo.png?v=1614802007" usemap="#image-map-7">
          <map name="image-map-7">
            <area target="_blank" alt="Website" title="Website" href="https://hiddencrownhair.com/" coords="180,154,14" shape="circle">
            <area target="_blank" alt="Instagram" title="Instagram" href="https://www.instagram.com/hiddencrownhair/" coords="200,141,225,167" shape="rect">
            <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/HiddenCrownHair/" coords="246,154,15" shape="circle">
          </map>
      </div>
      </div>
      
    <div class="single-img">
      <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-8.png?v=1614796818" alt="">
       <div class="overlay_image">
          <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/hotheads.png?v=1614802007" usemap="#image-map-8">
          <map name="image-map-8">
              <area target="_blank" alt="Website" title="Website" href="https://hotheads.com/" coords="170,191,14" shape="circle">
              <area target="_blank" alt="Instagram" title="Instagram" href="https://www.instagram.com/hotheadshairextensions/" coords="191,178,216,204" shape="rect">
              <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/hotheads.extensions" coords="236,191,13" shape="circle">
          </map>
      </div>
     </div>
      
    <div class="single-img">
     <!-- <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-99.png?v=1614902250" alt=""> -->
      <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-9.jpg?v=1615222934" alt="">
        <div class="overlay_image">
          <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/luxy.png?v=1614802007" usemap="#image-map-9">
          <map name="image-map-9">
              <area target="_blank" alt="Website" title="Website" href="https://www.luxyhair.com/" coords="231,185,13" shape="circle">
              <area target="_blank" alt="Instagram" title="Instagram" href="https://instagram.com/luxyhair" coords="251,173,277,199" shape="rect">
              <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/LuxyHair" coords="297,185,13" shape="circle">
          </map>
      </div>
     </div>
      
    <div class="single-img">
      <img class="brands-pic" src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-10.png?v=1614796818" alt="">
        <div class="overlay_image">
          <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/twistedfringe.png?v=1614802007" usemap="#image-map-10">
          <map name="image-map-10">
              <area target="_blank" alt="Website" title="Website" href="https://twistedfringehair.com/" coords="221,202,13" shape="circle">
              <area target="_blank" alt="Instagram" title="Instagram" href="https://www.instagram.com/twistedfringehair/" coords="242,190,266,216" shape="rect">
              <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/Twisted-Fringe-Hair-Extensions-434748356639348/" coords="287,202,14" shape="circle">
          </map>
      </div>
    </div>

  </div>

  <div class="mobile-brands-slider">
    <div class="">
        <div class="owl-carousel owl-theme">

          <div class="big-brand-detail">
            <img  src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-1.png?v=1614796818" alt="" />
            <div class="big-brand-des">
              <div class="logo">
                <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/mobile-babe-lash-logo.png?v=1614848844" alt="" />
              </div>
                <p>Don’t be afraid to let your hair down <br>and have a little fun with Babe’s <br>top-quality hair extensions.</p>
                <div class="social-icon">
                  <a href="https://babethings.com/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/website-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.instagram.com/babe_hair/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/instagram-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.facebook.com/pages/Babe-Things/175640345798364" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/facebook-icon.png?v=1614849264" alt="" />
                  </a>
                </div>
            </div>
          </div>

          <div class="big-brand-detail">
            <img src="https://cdn.shopify.com/s/files/1/0079/9028/0243/files/Beauty_Works.jpg?v=1616098418" alt="" />
            <div class="big-brand-des">
              <div class="logo">
                <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/mobile-beauty-works-logo.png?v=1614855742" alt="" />
              </div>
                <p>With over 10 years of research and development, Beauty Works enables women to enhance their natural beauty with
                award winning hair extensions.</p>
                <div class="social-icon">
                  <a href="https://beautyworksonline.com/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/website-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.instagram.com/beauty_worksonline/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/instagram-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.facebook.com/BeautyWorksOnline/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/facebook-icon.png?v=1614849264" alt="" />
                  </a>
                </div>
            </div>
          </div>

          <div class="big-brand-detail">
            <img  src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-3.png?v=1614796818" alt="" />
            <div class="big-brand-des">
              <div class="logo">
                <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/mobile-donna-bella-hair-logo.png?v=1614848844" alt="" />
              </div>
                <p>Empowering, edgy, and reliable.<br> Donna Bella Hair is a true world leader<br> in the beauty industry.</p>
                <div class="social-icon">
                  <a href="https://donnabellahair.com/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/website-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.instagram.com/donnabellahair/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/instagram-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.facebook.com/dbhairextension" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/facebook-icon.png?v=1614849264" alt="" />
                  </a>
                </div>
            </div>
          </div>

          <div class="big-brand-detail">
            <img  src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-4.png?v=1614796818" alt="" />
            <div class="big-brand-des">
              <div class="logo">
                <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/mobile-glam-seamless-logo.png?v=1614848844" alt="" />
              </div>
                <p>Say goodbye to overpriced extensions<br>and get the beautiful hairstyle<br>you’ve always wanted from Glam Seamless.</p>
                <div class="social-icon">
                  <a href="https://www.glamseamless.com/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/website-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.instagram.com/glamseamless/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/instagram-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.facebook.com/glamseamless" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/facebook-icon.png?v=1614849264" alt="" />
                  </a>
                </div>
            </div>
          </div>

          <div class="big-brand-detail">
            <img  src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-5.png?v=1614796818" alt="" />
            <div class="big-brand-des">
              <div class="logo">
                <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/mobile-hairtalk-logo.png?v=1614848844" alt="" />
              </div>
                <p>Take your salon to the next level<br>with HairTalk’s safe and simple hair<br>extension methods that clients<br>are sure to love.</p>
                <div class="social-icon">
                  <a href="https://hairtalkusa.com/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/website-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.instagram.com/hairtalkusa/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/instagram-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.facebook.com/hairtalkusa" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/facebook-icon.png?v=1614849264" alt="" />
                  </a>
                </div>
            </div>
          </div>

          <div class="big-brand-detail">
            <img  src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-6.png?v=1614796818" alt="" />
            <div class="big-brand-des">
              <div class="logo">
                <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/mobile-halocouture-logo.png?v=1614848844" alt="" />
              </div>
                <p>Take the hassle of installation<br>out of extensions with<br>HALOCOUTURE’S revolutionary products<br>such as The Original Halo.</p>
                <div class="social-icon">
                  <a href="https://halocouture.com/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/website-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.instagram.com/halocoutureextensions/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/instagram-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.facebook.com/HaloCoutureExtensions/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/facebook-icon.png?v=1614849264" alt="" />
                  </a>
                </div>
            </div>
          </div>

          <div class="big-brand-detail">
            <img  src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-7.png?v=1614796818" alt="" />
            <div class="big-brand-des">
              <div class="logo">
                <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/mobile-hiddencrown-logo.png?v=1614848844" alt="" />
              </div>
                <p>Worthy of a queen, Hidden Crown<br>uses high-quality designs to deliver<br>extensions for everyday luxury.</p>
                <div class="social-icon">
                  <a href="https://hiddencrownhair.com/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/website-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.instagram.com/hiddencrownhair/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/instagram-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.facebook.com/HiddenCrownHair/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/facebook-icon.png?v=1614849264" alt="" />
                  </a>
                </div>
            </div>
          </div>

          <div class="big-brand-detail">
            <img  src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-8.png?v=1614796818" alt="" />
            <div class="big-brand-des">
              <div class="logo">
                <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/mobile-hotheads.png?v=1614848844" alt="" />
              </div>
                <p>Constantly evolving the extension<br>business and changing<br>the way women feel about their hair.</p>
                <div class="social-icon">
                  <a href="https://hotheads.com/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/website-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.instagram.com/hotheadshairextensions/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/instagram-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.facebook.com/hotheads.extensions/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/facebook-icon.png?v=1614849264" alt="" />
                  </a>
                </div>
            </div>
          </div>

          <div class="big-brand-detail">
           <!-- <img  src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-9.png?v=1614796818" alt="" /> -->
           <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-9.jpg?v=1615222934" alt="" />
            <div class="big-brand-des">
              <div class="logo">
                <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/mobile-luxy.png?v=1614848844" alt="" />
              </div>
                <p>Rooted in confidence, transparency,<br>and total customer support,<br>Luxy seeks to empower all women<br>with the hair of their dreams.</p>
                <div class="social-icon">
                  <a href="https://www.luxyhair.com/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/website-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://instagram.com/luxyhair" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/instagram-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.facebook.com/LuxyHair" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/facebook-icon.png?v=1614849264" alt="" />
                  </a>
                </div>
            </div>
          </div>

          <div class="big-brand-detail">
            <img  src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/big-10.png?v=1614796818" alt="" />
            <div class="big-brand-des">
              <div class="logo">
                <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/mobile-twistedfringe.png?v=1614848844" alt="" />
              </div>
                <p>Add a little twist to your hair<br>with only the best hand-selected<br>and hand-crafted hair<br>extensions from Twisted Fringe.</p>
                <div class="social-icon">
                  <a href="https://twistedfringehair.com" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/website-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.instagram.com/twistedfringehair/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/instagram-icon.png?v=1614849264" alt="" />
                  </a>
                  <a href="https://www.facebook.com/Twisted-Fringe-Hair-Extensions-434748356639348/" target="_blank">
                    <img src="https://cdn.shopify.com/s/files/1/0271/1198/1135/files/facebook-icon.png?v=1614849264" alt="" />
                  </a>
                </div>
            </div>
          </div>

            
        </div>
    </div>
  </div> 

  {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="{{ 'owl.carousel.min.js' | asset_url }}"></script>

  <script>
        $(document).ready(function($) {
          $('.owl-carousel').owlCarousel({
            items: 1,
            nav:true,
            dots:false,
            loop: true
         });
        }); 
   </script>

   <script src="{{ 'imageMapResizer.min.js' | asset_url }}" defer="defer"></script>
   <script type="text/javascript">
     $(document).ready(function() {
      $('map').imageMapResize();
    });
   </script>  

</div>




