<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
<<<<<<< HEAD
        <h1>{{ page.title }}</h1>
      <h2> Added new feature in test branch.</h2>
=======
        <h2>{{ page.title }}</h2>
        <h2> Comment Live </h2>
>>>>>>> 5fa9d7b7eb4c9c7f3df1f5a4498a58886a152827
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
